name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v3
            with:
              submodules: true
          - name: Run unit test
            run: ./unit-test.sh
    full-test:
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v3
            with:
              submodules: true
          - name: Run full test
            run: ./full-test.sh
